@import "../define.scss";

textarea:focus, input:focus{
  outline: none;
}

html, body {
  margin: 0px;
  font-size: 15px;
  font-family: helvetica;
  font-weight: 100;
  color: $normal-text-color;
}

.container {

}

.contain-icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cover-icon {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.edit-icon {
  background-image: url('./icons/edit.svg');
}

.save-icon {
  background-image: url('./icons/save.svg');
}
