<div class="gsc-common-footer">
  <div class="owner">©贰年人 developed by guoshencheng</div>
  <span class="spit">|</span>
  <div class="recordcode">
    <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010402002009" target="_blank">
      <i></i>浙公网安备11000002000001号
    </a>
  </div>
</div>
