<div class="gsc-common-header">
  <div class="header-line">
    <div class="header-title header-line-item">Century Guo</div>
    <div class="header-line-item header-line-right <%- currentPage == "blogs" ? "header-line-item-current" : "" %>">博客</div>
    <div class="header-line-item header-line-right <%- currentPage == "homepage" ? "header-line-item-current" : "" %>">主页</div>
  </div>
</div>
