<div class="gsc-common-header">
  <table>
    <tbody>
      <tr>
        <td>
          <div class="header-logo gsc-image-contain header-line-item"></div>
        </td>
        <td>
          <div class="header-title header-line-item game-text">
            <a href="/"> Century's World </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="header-line-item game-text header-link">
    <a href="/posts">Posts</a>
  </div>
</div>
