<div class="gsc-common-header">
  <div class="header-line">
    <div class="header-title header-line-item indie-flow-text">
    <a href="/">
    Century Guo
    </a>
    </div>
    <div class="header-line-item header-line-right indie-flow-text <%- currentPage == "blogs" ? "header-line-item-current" : "" %>">
      <a href="/blogs">Blogs</a>
    </div>
    <div class="header-line-item header-line-right indie-flow-text <%- currentPage == "mock" ? "header-line-item-current" : "" %>">
    <a href="/mock">
      Mock Server
    </a>
    </div>
    <div class="header-line-item header-line-right indie-flow-text <%- currentPage == "flowEngine" ? "header-line-item-current" : "" %>">
    <a href="/flow">
    Flow Engine
    </a>
    </div>
    <div class="header-line-item header-line-right indie-flow-text <%- currentPage == "homepage" ? "header-line-item-current" : "" %>">
    <a href="/">
    HomePage
    </a>
    </div>
  </div>
</div>
