<div class="gsc-common-header">
  <div class="header-line">
    <div class="header-title header-line-item indie-flow-text">Century Guo</div>
    <div class="header-line-item header-line-right indie-flow-text <%- currentPage == "blogs" ? "header-line-item-current" : "" %>">Blogs</div>
    <div class="header-line-item header-line-right indie-flow-text <%- currentPage == "mock" ? "header-line-item-current" : "" %>">Mock Server</div>
    <div class="header-line-item header-line-right indie-flow-text <%- currentPage == "flowEngine" ? "header-line-item-current" : "" %>">Flow Engine</div>
    <div class="header-line-item header-line-right indie-flow-text <%- currentPage == "homepage" ? "header-line-item-current" : "" %>">HomePage</div>
  </div>
</div>
