<div class="mashroom">
  <div class="mashroom-item-line">
    <div class="change-color mashroom-item blank" style="animation-delay: 0s;"></div>
    <div class="change-color mashroom-item blank" style="animation-delay: -0.1s;"></div>
    <div class="change-color mashroom-item deep" style="animation-delay: -0.2s;"></div>
    <div class="change-color mashroom-item shadow" style="animation-delay: -0.3s;"></div>
    <div class="change-color mashroom-item deep" style="animation-delay: -0.4s;"></div>
    <div class="change-color mashroom-item shadow" style="animation-delay: -0.5s;"></div>
    <div class="change-color mashroom-item blank" style="animation-delay: -0.6s;"></div>
    <div class="change-color mashroom-item blank" style="animation-delay: -0.7s;"></div>
  </div>
  <div class="mashroom-item-line">
    <div class="change-color mashroom-item blank" style="animation-delay: -0.8s;"></div>
    <div class="change-color mashroom-item deep" style="animation-delay: -0.9s;"></div>
    <div class="change-color mashroom-item shadow" style="animation-delay: -1s;"></div>
    <div class="change-color mashroom-item deep" style="animation-delay: -1.1s;"></div>
    <div class="change-color mashroom-item shadow" style="animation-delay: -1.2s;"></div>
    <div class="change-color mashroom-item deep" style="animation-delay: -1.3s;"></div>
    <div class="change-color mashroom-item shadow" style="animation-delay: -1.4s;"></div>
    <div class="change-color mashroom-item blank" style="animation-delay: -1.5s;"></div>
  </div>
  <div class="mashroom-item-line">
    <div class="change-color mashroom-item deep" style="animation-delay: -1.6s;"></div>
    <div class="change-color mashroom-item shadow" style="animation-delay: -1.7s;"></div>
    <div class="change-color mashroom-item deep" style="animation-delay: -1.8s;"></div>
    <div class="change-color mashroom-item shadow" style="animation-delay: -1.9s;"></div>
    <div class="change-color mashroom-item deep" style="animation-delay: -2s;"></div>
    <div class="change-color mashroom-item shadow" style="animation-delay: -2.1s;"></div>
    <div class="change-color mashroom-item deep" style="animation-delay: -2.2s;"></div>
    <div class="change-color mashroom-item shadow" style="animation-delay: -2.3s;"></div>
  </div>
  <div class="mashroom-item-line">
    <div class="change-color mashroom-item shadow" style="animation-delay: -2.4s;"></div>
    <div class="change-color mashroom-item deep" style="animation-delay: -2.5s;"></div>
    <div class="change-color mashroom-item shadow" style="animation-delay: -2.6s;"></div>
    <div class="change-color mashroom-item deep" style="animation-delay: -2.7s;"></div>
    <div class="change-color mashroom-item shadow" style="animation-delay: -2.8s;"></div>
    <div class="change-color mashroom-item deep" style="animation-delay: -2.9s;"></div>
    <div class="change-color mashroom-item shadow" style="animation-delay: -3s;"></div>
    <div class="change-color mashroom-item deep" style="animation-delay: -3.1s;"></div>
  </div>
  <div class="mashroom-item-line">
    <div class="change-color mashroom-item deep" style="animation-delay: -3.2s;"></div>
    <div class="change-color mashroom-item shadow" style="animation-delay: -3.3s;"></div>
    <div class="change-color mashroom-item deep" style="animation-delay: -3.4s;"></div>
    <div class="change-color mashroom-item shadow" style="animation-delay: -3.5s;"></div>
    <div class="change-color mashroom-item deep" style="animation-delay: -3.6s;"></div>
    <div class="change-color mashroom-item shadow" style="animation-delay: -3.7s;"></div>
    <div class="change-color mashroom-item deep" style="animation-delay: -3.8s;"></div>
    <div class="change-color mashroom-item shadow" style="animation-delay: -3.9s;"></div>
  </div>
  <div class="mashroom-item-line">
    <div class="change-color mashroom-item blank" style="animation-delay: -4s;"></div>
    <div class="change-color mashroom-item deep" style="animation-delay: -4.1s;"></div>
    <div class="change-color mashroom-item shadow" style="animation-delay: -4.2s;"></div>
    <div class="change-color mashroom-item deep" style="animation-delay: -4.3s;"></div>
    <div class="change-color mashroom-item shadow" style="animation-delay: -4.4s;"></div>
    <div class="change-color mashroom-item deep" style="animation-delay: -4.5s;"></div>
    <div class="change-color mashroom-item shadow" style="animation-delay: -4.6s;"></div>
    <div class="change-color mashroom-item blank" style="animation-delay: -4.7s;"></div>
  </div>
  <div class="mashroom-item-line">
    <div class="change-color mashroom-item blank" style="animation-delay: -4.8s;"></div>
    <div class="change-color mashroom-item blank" style="animation-delay: -4.9s;"></div>
    <div class="change-color mashroom-item deep" style="animation-delay: -5s;"></div>
    <div class="change-color mashroom-item shadow" style="animation-delay: -5.1s;"></div>
    <div class="change-color mashroom-item deep" style="animation-delay: -5.2s;"></div>
    <div class="change-color mashroom-item shadow" style="animation-delay: -5.3s;"></div>
    <div class="change-color mashroom-item blank" style="animation-delay: -5.4s;"></div>
    <div class="change-color mashroom-item blank" style="animation-delay: -5.5s;"></div>
  </div>
  <div class="mashroom-item-line">
    <div class="change-color mashroom-item blank" style="animation-delay: -5.6s;"></div>
    <div class="change-color mashroom-item blank" style="animation-delay: -5.7s;"></div>
    <div class="change-color mashroom-item shadow" style="animation-delay: -5.8s;"></div>
    <div class="change-color mashroom-item deep" style="animation-delay: -5.9s;"></div>
    <div class="change-color mashroom-item shadow" style="animation-delay: -6s;"></div>
    <div class="change-color mashroom-item deep" style="animation-delay: -6.1s;"></div>
    <div class="change-color mashroom-item blank" style="animation-delay: -6.2s;"></div>
    <div class="change-color mashroom-item blank" style="animation-delay: -6.3s;"></div>
  </div>
</div>
