@import "../../define.scss";

#navigation {
  background: white;
  border-bottom: solid 1px $line-color;
  width: 100%;
  height: 60px;
  font-size: 22px;
  display: table;
  padding: 0 30px;
  box-sizing: border-box;
  .navigation-title {
    font-weight: 300;
    float: left;
  }
}
