html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: helvetica-light;
  font-weight: 200;
  color: #373737;
  background-color: #FDD10E;
}

/* latin */
@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: local('Indie Flower'), local('IndieFlower'), url('./images/IndieFlower.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.indie-flow-text {
  font-family: 'Indie Flower', cursive;
}

.gsc-common-header {
  position: relative;
  height: 50px;
  // box-shadow: 1px 1px 5px #b3b3b3;
  background-size: contain;
  border-radius: 5px;
  margin: 5px 10px;
  color: white;
  a {
    text-decoration: none;
    color: inherit;
  }
  .header-icon {
    margin-right: 20px;
    width: 80px;
    height: 80px;
    background-image: url('./images/header-logo.svg')
  }
  .header-line {
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 0px; bottom: 0px;
    left: 20px;
    right: 20px;
    overflow: hiddren;
    margin: auto 0;
    .header-line-item {
      height: 100%;
      float: left;
      font-size: 1.6rem;
    }
    .header-line-right {
      float: right;
      margin-right: 2rem;
    }
    .header-title {
      font-weight: 400;
      font-size: 1.6rem;
    }
    .header-line-item-current {
      color: #373737;
    }
  }
}

.gsc-image-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
