html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-weight: 200;
  color: #373737;
}

/* latin */
@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: local('Indie Flower'), local('IndieFlower'), url('./images/IndieFlower.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url('./images/PressStart2P-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.indie-flow-text {
  font-family: 'Indie Flower', cursive;
}

.game-text {
  font-family: 'Press Start 2P', cursive;
}

.gsc-common-header {
  background-color: white;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  padding: 0.5rem 2rem;
  overflow: hidden;
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: inherit;
  }
  table {
    float: left;
    height: 100%;
    td {
      overflow: hidden;
    }
  }
  .header-title {
    font-weight: 400;
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  .header-logo {
    width: 4rem;
    height: 4rem;
    background-image: url('./images/header-icon.png');
  }
  .header-link {
    font-size: 1.2rem;
    height: 5rem;
    float: right;
    line-height: 5rem;
  }
}

.gsc-image-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.gsc-common-footer {
  font-size: 1.2rem;
  background-color: white;
  padding: 1.5rem 1.5rem;
  overflow: hidden;
  .owner {
    float: left;
  }
  .spit {
    margin: 0 15px;
    float: left;
  }
  .recordcode {
    float: left;
    a {
      text-decoration: none;
      color: #333333;
    }
  }
}

@media (max-width: 500px) {
  .gsc-common-header  {
    .header-title {
      display: none;
    }
  }
}
