<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="/bower_components/react/react.min.js"></script>
    <script src="/bower_components/react/react-dom.min.js"></script>
    <title>guoshencheng's page</title>
  </head>
  <body>
    <div id="topContainer">

    </div>
  </body>
  <script src="/dist/home.js" charset="utf-8"></script>
</html>
