<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="/bower_components/react/react.min.js"></script>
    <script src="/bower_components/react/react-dom.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/solarized-dark.css">
    <script src="/javascripts/highlight.pack.js" charset="utf-8"></script>
    <title>guoshencheng's page</title>
  </head>
  <body>
    <div id="topContainer">
    </div>
  </body>
  <% if (!!env && env == "production") { %>
  <link rel="stylesheet" href="/dist/main.css">
  <script src="/dist/main.js" charset="utf-8"></script>
  <% } else { %>
  <script src="/dist/main.js" charset="utf-8"></script>
  <% } %>
</html>
