<% var currentPage = "homepage" %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.5">

  <title>guoshencheng's home page - 贰年人</title>
  <meta name="keywords" content="guoshencheng,century,guo,javascript,node,posts,tips,github,贰年人">
  <meta name="HandheldFriendly" content="true">
  <meta name="author" content="guoshencheng">
  <meta property="og:site_name" content="guoshencheng's home page - 贰年人">
  <meta property="og:type" content="website">
  <meta property="og:title" content="guoshencheng's home page - 贰年人">
  <meta property="og:description" content="guoshencheng's home page - 贰年人">
  <meta property="og:url" content="https://www.guoshencheng.com">
  <meta name="description" content="guoshencheng's home page - 贰年人">
  <% include ./partials/common-js.ejs %>

<% if ( env == "development" ) { %>
  <script src="https://cdn.bootcss.com/react/15.6.1/react.js" charset="utf-8"></script>
  <script src="https://cdn.bootcss.com/react/15.6.1/react-dom.js" charset="utf-8"></script>
<% } else { %>
  <script src="https://cdn.bootcss.com/react/15.6.1/react.min.js" charset="utf-8"></script>
  <script src="https://cdn.bootcss.com/react/15.6.1/react-dom.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/dist/homepage.<%- hash %>.css">
<% } %>
</head>
<body>
  <table >
    <tbody>
      <td>
        <div class="container green">
          <div class="game-text container-title">
            Century's World
          </div>
          <div id="mashroom-container">
            <% include ./partials/mashroom.ejs %>
          </div>
          <div class="operations game-text">
            <a href="/posts">Posts</a>
            <a href="/tips">tips</a>
            <a href="https://github.com/guoshencheng">Github</a>
          </div>
        </div>
      </td>
    </tbody>
  </table>
  <% include ./partials/footer.ejs %>
</body>
<script type="text/javascript">
</script>
<% if ( env == "development" ) { %>
  <script src="/dist/homepage.js"></script>
<% } else { %>
  <script src="/dist/homepage.<%- hash %>.js"></script>
<% } %>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?517d8840b7d2d14e1a0cb2869b27cb9a";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</html>
