<% var currentPage = "homepage" %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>guoshencheng's home page</title>
  <% include ./partials/common-js.ejs %>
</head>
<body>
  <% include ./partials/header.ejs %>
  <div class="home-page-icon gsc-image-contain"></div>
</body>
<script src="/dist/homepage.js"></script>
</html>
