<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mocker Server</title>
  <script src="https://cdn.bootcss.com/react/16.0.0/umd/react.development.js" charset="utf-8"></script>
  <script src="https://cdn.bootcss.com/react-dom/16.0.0/umd/react-dom.development.js" charset="utf-8"></script>
  <script src="/javascripts/vs/loader.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/javascripts/vs/editor/editor.main.css">
  <% if ( env != "development" ) { %>
    <link rel="stylesheet" href="/dist/mockserver.<%- hash %>.css">
  <% } %>
</head>
<body>
  <div id="root"></div>
  <% if ( env == "development" ) { %>
    <script src="/dist/mockserver.js"></script>
  <% } else { %>
    <script src="/dist/mockserver.<%- hash %>.js"></script>
  <% } %>
</body>
</html>
