<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>我的小Tips</title>
  <link rel="stylesheet" href="/stylesheets/atom-one-dark.css">
  <% include ./partials/common-js.ejs %>
  <script src="/javascripts/waterfall.min.js" charset="utf-8"></script>
  <% if ( env != "development" ) { %>
    <link rel="stylesheet" href="/dist/tips.<%- hash %>.css">
  <% } %>
</head>
<body>
  <div class="container">
    <div class="tips-container">
      <% for(var index in tips) { var tip = tips[index]; %>
      <div class="tips-cell <%- index % 4 == 0 ? 'deep' : index % 3 == 1 ? 'normal' : 'shallow' %>">
        <div class="item">
          <%- tip.tipHtml || tip.tipText %>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</body>
<% if ( env == "development" ) { %>
  <script src="/dist/tips.js"></script>
<% } else { %>
  <script src="/dist/tips.<%- hash %>.js"></script>
<% } %>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?517d8840b7d2d14e1a0cb2869b27cb9a";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript">
  if (window.screen.width >= 700) {
    waterfall('.tips-container');
  }
  window.addEventListener('resize', function () {
    waterfall('.tips-container');
  });
</script>
</html>
