#create {
  text-align: center;
  .center-container {
    display: inline-block;
    margin-top: 100px;
    .custom-textfield {
      width: 500px;
      font-size: 18px;
      margin-top: 20px;
    }
  }
}
