<% var currentPage = "" %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>编写博客</title>
  <script src="https://cdn.bootcss.com/react/16.0.0/cjs/react.production.min.js" charset="utf-8"></script>
  <script src="https://cdn.bootcss.com/react-dom/16.0.0/cjs/react-dom.production.min.js" charset="utf-8"></script>
</head>
<body>
  <div id="container"> </div>
</body>
<% if ( env == "development" ) { %>
  <script src="/dist/common.js"></script>
  <script src="/dist/manage.js"></script>
<% } else { %>
  <link rel="stylesheet" href="/dist/common.<%- hash %>.css"">
  <script src="/dist/common.<%- hash %>.js"></script>
  <link rel="stylesheet" href="/dist/manage.<%- hash %>.css"">
  <script src="/dist/manage.<%- hash %>.js"></script>
<% } %>
</html>
