.orange-textfield-container {
  position: relative;
  border: 0;
  width: 250px;
  border-bottom: solid 1px #F7CD1F;
  .orange-textfield {
    font-weight: lighter;
    width: 100%;
    border: none;
    outline: none;
    padding: 5px 0px;
  }
  .animate-label {
    position: absolute;
    bottom: 0px;
    width: 100%;
    &:after {
      position: absolute;
      left: 0px;
      bottom: -1px;
      content: "";
      height: 2px;
      width:0px;
      background: #F7CD1F;
      transition: 0.3s ease all;
    }
  }
  .orange-textfield:focus {
    ~ .animate-label {
      &:after {
        width: 100%;
      }
    }
  }
}
