@import "../define.scss";

body {
  padding-top: 20px;
}

.container {
  margin: auto;
  margin-top: 50px;
  font-size: 2rem;
  max-width: 90rem;
  padding: 0 3rem;
  .base-info {
    padding: 20px 0;
    max-width: 500px;
    .post-item-base-info {
      padding: 0.5rem 0;
      font-size: 1.3rem;
      color: #afbd20;
    }
    .post-item-title {
      word-wrap: break-word;
      height: auto;
      color: $normal-text-color;
      font-size: 2.8rem;
      font-weight: 300;
    }
  }
  .post-bottom-info {
    margin: 5rem 0;
    font-size: 1.3rem;
    overflow: hidden;
    font-weight: 200px;
    color: rgba(255, 255, 255, 0.6);
    .post-item-email {
      margin-left: 2rem;
      float: left;
      text-decoration: none;
      color: #afbd20;
    }
  }
}
