import React from 'react';
import { connect } from 'react-redux';

class <%- name %> extends React.Component {
  constructor(props) {
    super(props);
  }

  render() {
    return (
      <div id="<%- id %>">
      </div>
    )
  }
}

const mapStateToProps = (state) => {
  return {

  }
}

const mapActionToProps = (dispatch) => {
  return {

  }
}

export default connect(mapStateToProps, mapActionToProps)(<%- name %>);
