@import "./define.scss";

html {
  font-size: 20px;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-weight: 200;
  color: #373737;
  background: #f3f4f5;
}

.gsc-table {
  font-size: 20px;
}

.online-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.strong-text {
  font-weight: 400;
}

.font20 {
  font-size: 20px;
}
.font18 {
  font-size: 18px;
}
.font22 {
  font-size: 22px;
}
.font16 {
  font-size: 16px;
}

.table-row-group {
  display: table-row-group;
  vertical-align: middle;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.gsc-form {
  .gsc-form-label {
    float: none;
    display: inline-block;
    padding: 5px 0;
  }
  .gsc-form-section {
    padding: 5px 0;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    input {
      box-sizing: border-box;
      height: 100%;
      font-size: inherit;
      font-family: inherit;
      font-weight: inherit;
      float: left;
      border: solid 1px $line-color;
      background: none;
      outline: none;
      padding: 0px 10px;
      border-radius: 5px;
    }
    .gsc-form-button {
      cursor: pointer;
      float: left;
      height: 100%;
      padding: 0 15px;
      &.green {
        color: white;
        background-color: #6fb97c;
        border-radius: 4px;
      }
    }
  }
}
