@import "../define.scss";

body {
  padding-top: 20px;
}

.container {
  margin-top: 50px;
  a {
    text-decoration: none;
  }
  .post-item {
    margin: auto;
    padding: 2rem 4rem;
    max-width: 90rem;
    .see-more {
      margin-top: 1.2rem;
      font-size: 1.4rem;
      color: #bebebe;
    }
    .post-item-title {
      position: relative;
      word-wrap: break-word;
      height: auto;
      color: $normal-text-color;
      font-size: 2.8rem;
    }
    .post-item-base-info {
      padding: 1.2rem 0;
      font-size: 1.3rem;
      color: #afbd20;
    }
    .post-item-desc {
      word-wrap: break-word;
      color: $grey-text-color;
      font-size: 1.4rem;
      line-height: 1.6;
    }
  }
}
